# IntelliJ
*.iml
*.idea/
.idea/
.idea/**
*.iml

# Terraform
*/.terraform/
.terraform/
*.tfstate
*.tfstate.*
#*.tfvars
*secret*.tfvars
*.tfvars.json
*secret.auto.tfvars

.terraform.lock.hcl
.terraform.tfstate.lock.info

*kubeconfig-mllab

# Claude
.claude
*.claude/
claude.md
